name: Build and Test

on: 
  pull_request:  
    branches: [main]
  push:
    branches: [main]

   
jobs:

  trivy_scan:
    runs-on: ubuntu-latest
    steps: 
    
      - name: checkout code
        uses: actions/checkout@v3
  
      - name: Run Trivy vulnerability scanner 
        uses: aquasecurity/trivy-action@master
        with: 
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'results.sarif'
          severity: 'CRITICAL'
  
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'results.sarif'
